
.bg-dark{
    background-color: black !important;
}
.navbar{
    padding: 0;
    
    .nav-logo{
        width: 90px;
        height: auto;
    }
}

.hero-top{
    height: 70vh;
    min-height: 400px;
    max-height: 900px;

    .image-container{
        display: flex;
        height: 100%;
    }
}

.worship-bg{
    background-image: url("/images/worship.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 10rem;
    padding-bottom: 10rem;

    h1{
        color:white;
    }
    p{
        color: white;
    }
}

.page-footer{
    h6{
        color: white;
    }
    p{
        color: #D3D3D3
    }
    a{
        color: #D3D3D3;
    }
}