// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #group1{
        display: none;
    }
    #bible{
        display: none;
    }
    .hero-top{
        #first-title{
            display: none;
        }
        p{
            display: none;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .hero-top{
        #first-title{
            display: none;
        }
        p{
            display: none;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}


html{
    scroll-behavior: smooth;
}

.bg-dark{
    background-color: black !important;
}
.navbar{
    padding: 0;
    
    .nav-logo{
        width: 90px;
        height: auto;
    }
}

.hero-top{
    height:70vh;
    max-height: 900px;

    .image-container{
        display: flex;
        height: 100%;
    }
}

.welcome-content{
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.worship-bg{
    background-image: url("/images/worship.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 10rem;
    padding-bottom: 10rem;

    h1{
        color:white;
    }
    p{
        color: white;
    }
}

.learn-content{
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-footer{

    .footer-info{
        .info-bar{
            width: 125px;
            height: 2px;
        }
        h6{
            color: white;
        }
        p{
            color: #D3D3D3;
        }
    }

    .footer-product{
        .product-bar{
            width: 85px;
            height: 2px;
        }
        h6{
            color: white;
        }
        a{
            color: #D3D3D3;
        }
    }

    .footer-links{
        .links-bar{
            width: 110px;
            height: 2px;
        }
        h6{
            color: white;
        }
        a{
            color:  #D3D3D3;
        }
    }

    .footer-contact{
        .contact-bar{
            width: 75px;
            height: 2px;
        }
        h6{
            color: white;
        }
        li{
            color:#D3D3D3;
        }
    }
    .footer-copyright{
        p{
            color:#D3D3D3;
        }
    }
}

// ABOUT PAGE:

// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

.background-gray1{
    background-color: #f6f6f6;
}

.about-hero{
    height: 75vh;
    background-image: url("http://placehold.jp/2443x1634.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h3{
        color: white;
    }

    .about-hero-row{
        padding-top: 8rem;
    }
}

.card{
    width: 25rem;
}
